<div class="reg">
    <h1 class="reg__title">Зарегистрироваться</h1>
    <form class="reg__form" [formGroup]="regForm" (ngSubmit)="save()">
        <div class="reg__form-inputs">
            <mat-form-field class="input__wrap">
                <mat-label class="input__label">Имя</mat-label>
                <input type="text" matInput formControlName="name" placeholder="Иван">
            </mat-form-field>
            <mat-form-field lass="input__wrap">
                <mat-label class="input__label">Email</mat-label>
                <input type="email" matInput formControlName="email" placeholder="ivanov@mail.ru">
                <mat-hint *ngIf="regForm.controls['email'].invalid && regForm.controls['email'].touched">
                    Проверьте корректность введенных данных
                </mat-hint>
            </mat-form-field>
            <mat-form-field lass="input__wrap">
                <mat-label class="input__label">Пароль</mat-label>
                <input type="password" matInput formControlName="password">
                <mat-hint *ngIf="regForm.controls['password'].invalid && regForm.controls['password'].touched">Проверьте корректность ввода (минимальная длина пароля- 6)</mat-hint>
            </mat-form-field>
        </div>
        <button class="reg__submit" mat-raised-button color="primary"
            [disabled]="regForm.invalid">Зарегистрироваться</button>
        <div class="reg__login">
            <a [routerLink]="['/login']">Войти</a>
        </div>
    </form>
</div>

