.reg {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__form {
        width: 60%;

        &-inputs {
            display: flex;
            flex-direction: column;
        }
    }

    &__submit {
        width: 100%;
    }

    &__login {
        margin-top: 20px;
        text-align: center;
    }

}

@media(max-width:720px) {
    .reg {
        &__form {
            width: 100%;
        }
    }
}