.spacer {
    flex: 1 1 auto;
}

.active{
    display: none;
}

header{
    max-height: 80px;
}
.auth {
    margin: 0 150px;
    
    &__header {

        &-ul {
            display: flex;
        }

        &-li {
            margin-right: 20px;
        }
        &-li:last-child{
            margin-right: 0;
        }
        &-link{
            font-size: 18px;
        }
    }
}

.auth{
    height: calc(100vh - 80px );
}