<header class="auth__header">
    <mat-toolbar>
        <button mat-icon-button class="auth__header-btn home-icon" aria-label="icon home for home page link">
             <a [routerLink]="['']"><mat-icon fontIcon="home"> </mat-icon></a>
        </button>
        <span class="spacer"></span>
        <nav class="auth__header-nav">
            <ul class="auth__header-ul">
                <li class="auth__header-li" routerLinkActive="active"><a class="auth__header-link"
                        [routerLink]="['/login']">Вход</a></li>
                <li class="auth__header-li" routerLinkActive="active"><a class="auth__header-link"
                        [routerLink]="['/register']">Регистрация</a></li>
            </ul>
        </nav>
    </mat-toolbar>
</header>

<div class="auth">
    <router-outlet></router-outlet>
</div>